* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cantarell", sans-serif;
  font-family: "Cardo", serif;
}
hr{
  margin: 2rem 0;
}

header nav {
  color: white;
  text-transform: uppercase;
  text-align: right;
  position: fixed;
  width: 100%;
}
header nav ul li {
  display: inline-block;
  margin-left: 1.5rem;
  margin-top: 10px;
  padding: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.1rem;
  border-radius: 10px;
}
header nav ul li a {
  color: #ffff;
  text-decoration: none;
}
.active{
  background-color: rgb(58, 43, 226);
}
header nav ul li:hover{
  background-color: cornflowerblue;
  border-radius: 15px;
}
.container {
  background-color: rgb(4, 97, 97);
  width: 100%;
  padding: 5rem 4rem;
}
/* cardinfo */
img {
  height: 30vh;
  border-radius: 50%;
  float: left;
  margin-right: 8rem;
}
.info {
  padding-top: 4rem;
  position: relative;
}
.info h2 {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}
.info .icon i {
  margin-right: 1rem;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  color: white;
}
.icon span {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
}

/* summery */
.summery {
  margin-top: 5rem;
}
.summery h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
  margin: 1rem 0;
}
.summery ul li {
  list-style: none;
  margin: 1rem 0;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
}
.summery ul li::before {
  content: "✍️";
  margin-right: 0.8rem;
  font-size: 1.5rem;
}

/* Tech Stack */
.techst{
  margin-top: 3rem;
  color: White;
  margin-bottom: 2rem;
}
.techst h3{
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
  margin: 1rem 0;
}
table,
tr,
th,
td {
  border: 2px solid rgb(199, 198, 198);
  border-collapse: collapse;
  margin-top: 1.5rem;
}
.p {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0.5rem ;
  font-weight: 400;
  font-size: 1.1rem;
}
.te {
  padding: 2rem 2rem;
  font-size: 1.3rem;
  font-weight: 700;
}

/* EDUCATION*/

.education{
  margin-top: 3rem;
}
.education h3{
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
  margin: 1rem 0;
}
.education th{
  font-size: 1.3rem;
  color: white;
  padding: 1rem;
  background-color: rgb(19, 157, 179);
}
.education td{
  font-size: 1.1rem;
  color: #ffff;
  padding: 1rem 0.5rem;
}